<%- include('../includes/head.ejs') %>
<div class="signup">
    <div class="uk-grid-small uk-child-width-1-2@m uk-flex uk-flex-stretch" uk-grid>
        <div class="signup-img" uk-height-viewport="offset-top: true">
            <a href="/" title="Go Back" class=""><i class="fa fa-long-arrow-left"></i></a>
        </div>
        <div class="signup-form uk-box-shadow-large uk-padding-large">
            <div class="form-heading uk-text-center">
                <h2 class="uk-text-uppercase">Welcome to <span class="app-name">K<span class="uk-text-lowercase">i</span>K</span> Chat</h2>
                <p class="uk-text-muted">Sign Up to chat with onliners.</p>
            </div>
            <div class="inputs uk-container uk-container-xsmall uk-margin-medium-top">
                <form action="/signup" method="POST" novalidate>
                    <div class="uk-grid-small uk-child-width-1-1@s" uk-grid>
                        <div class="input">
                            <input 
                                class="uk-input <%= validationErrors.find(e => e.param === 'username') ? 'input-error' : '' %>" 
                                type="text" 
                                name="username" 
                                placeholder="Username, E.g. jhon doe"
                                value="<%= oldInputs.username %>"
                            >
                            <% validationErrors.forEach(e => { %>
                                <% if (e.param === 'username') { %>
                                    <div class="invalid-feedback">
                                        <%= e.msg %>
                                    </div>
                                <% } %>
                            <% }) %>
                        </div>
                        <div class="input">
                            <input 
                                class="uk-input <%= validationErrors.find(e => e.param === 'email') ? 'input-error' : '' %>"  
                                type="email" 
                                name="email" 
                                placeholder="Email, E.g. jhon@doe.com"
                                value="<%= oldInputs.email %>"
                            >
                            <% validationErrors.forEach(e => { %>
                                <% if (e.param === 'email') { %>
                                    <div class="invalid-feedback">
                                        <%= e.msg %>
                                    </div>
                                <% } %>
                            <% }) %>
                        </div>
                        <div class="input">
                            <input 
                                class="uk-input <%= validationErrors.find(e => e.param === 'password') ? 'input-error' : '' %>"  
                                type="password" 
                                name="password" 
                                placeholder="Password"
                                value="<%= oldInputs.password %>"
                            >
                            <% validationErrors.forEach(e => { %>
                                <% if (e.param === 'password') { %>
                                    <div class="invalid-feedback">
                                        <%= e.msg %>
                                    </div>
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                    <div class="signup-control">
                        <div class="uk-child-width-1-2@s uk-flex uk-flex-middle" uk-grid>
                            <div class="signup-btn uk-text-left">
                                <button type="submit">Sign Up <i class="fa fa-long-arrow-right"></i></button>
                            </div>
                            <div class="signin-btn uk-text-right">
                                <a href="/signin">Sign In? <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- social authentication -->
                    <div class="social-auth uk-margin-medium-top">
                        <p class="uk-text-muted"><span class="uk-text-uppercase">or use</span></p>
                        <div class="social-links">
                            <div class="uk-child-width-1-2" uk-grid>
                                <div class="fb-link uk-text-left">
                                    <a href="/auth/facebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="google-link uk-text-right">
                                    <a href="" title="Google"><i class="fa fa-google"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/end.ejs') %>
