<div uk-sticky="sel-target: .navbar; cls-active: uk-navbar-sticky">
    <div id="nav" class="navbar">
        <div class="navbar-content">
            <div class="uk-container">
                <nav uk-navbar>
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo uk-text-uppercase" href="/clubs">K<span class="uk-text-lowercase">i</span>K <sub>chat</sub></a>
                    </div>
                    <div class="uk-navbar-right" id="reload">
                        <ul class="uk-navbar-nav uk-visible@m">
                            <li><a href="/clubs">Clubs</a></li>
                            <li>
                                <a href="#" title="Notifications">
                                    <i class="fa fa-bell"></i>
                                    <% if (data.totalRequest > 0) { %>
                                        <span class="uk-badge"><%= data.request.length %></span>
                                    <% } %>
                                </a>
                                <div class="uk-width-large" uk-dropdown="mode: click; animation: uk-animation-slide-top-small;">
                                    <div class="friend-requests">
                                        <h6 class="uk-text-uppercase">Friend Requests</h6>
                                        <div class="content">
                                            <div class="uk-child-width-1-2" uk-grid>
                                                <% if (data.request.length > 0) { %>
                                                    <% data.request.forEach(val => { %>
                                                        <div class="friend-img uk-text-left">
                                                            <img src="http://placehold.it/40" alt="<%= val.username %>">
                                                            <div>
                                                                <a href="#" title="View Profile"><span><%= val.username %></span></a>
                                                            </div>
                                                        </div>
                                                        <div class="action uk-text-right">
                                                            <input type="hidden" name="senderId" id="senderId" value="<%= val.userId._id %>">
                                                            <input type="hidden" name="senderName" id="senderName" value="<%= val.username %>">
                                                            <button type="submit" name="accept" id="accept-friend" title="Accept" class="accept"><i class="fa fa-check"></i></button>

                                                            <input type="hidden" name="user_id" id="user_id" value="<%= val.userId._id %>">
                                                            <button type="submit" name="decline" id="decline-friend" title="Decline" class="decline"><i class="fa fa-times"></i></button>
                                                        </div>
                                                    <% }) %>
                                                <% } else { %>
                                                    <div class="uk-width-1-1" uk-grid>
                                                        <p class="uk-text-muted">You haven't any friend requests.</p>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="/signup">Sign Up</a></li>
                            <li><a href="/signin">Sign In</a></li>
                            <li>
                                <a href="#"><%= user.username %> <i class="fa fa-angle-down"></i></a>
                                <div class="user-actions" uk-dropdown="mode: click; animation: uk-animation-slide-top-small;">
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <!-- Show Nav items in sidebar in phone screens -->
                        <div class="uk-hidden@m">
                            <button class="uk-button uk-button-default open-btn" type="button" uk-toggle="target: #offcanvas-overlay"><i class="fa fa-bars" aria-hidden="true"></i></button>
                            <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
                                <div class="uk-offcanvas-bar">
                                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                                    <h3 class="uk-text-uppercase">KiK <sub>chat</sub></h3>
                                    <ul class="uk-nav uk-nav-default">
                                        <li><a href="/clubs">Clubs</a></li>
                                        <li><a href="/signup">Sign Up</a></li>
                                        <li><a href="/signin">Sign In</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>