<%- include('./includes/head.ejs') %>
<%- include('./includes/navigation.ejs') %>
<div class="home uk-margin-medium-top">
    <div class="uk-container">
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-4@m">
                <input type="hidden" id="name-user" value="<%= user.username %>">
                <input type="hidden" id="name-image" value="<%= user.userImage %>">
                <div class="filter uk-box-shadow-medium">
                    <div class="filter-heading">
                        <h4 class="uk-text-uppercase">Filter</h4>
                    </div>
                    <div class="filter-option">
                        <select class="uk-select" name="country" id="country">
                            <option value="">Filter By Country</option>
                            <% country.forEach(result => { %>
                                <option value="<%= result._id %>"><%= result._id %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="filter-button">
                        <a href="#" class="uk-text-uppercase">Apply</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-3-4@m">
                <div class="club">
                    <div class="club-search uk-margin-small-bottom">
                        <input class="search-in" type="text" placeholder="Search in Clubs">
                        <i class="fa fa-arrow-right" title="Search"></i>
                    </div>
                    <div class="clubs">
                        <form action="/clubs" method="POST" id="favorite">
                            <% if (chunks.length == 0) { %>
                                <div class="uk-background-muted uk-padding uk-panel">
                                    <p class="uk-h4 uk-text-center">There're no clubs yet.</p>
                                </div>
                            <% } else { %>
                                <% chunks.forEach(club => { %>
                                    <div class="uk-child-width-1-3@m" uk-grid>
                                        <% club.forEach(club2 => { %>
                                            <div class="club-content">
                                                <div class="club-img">
                                                    <a href="/group/<%= club2.name %>" title="Go to <%= club2.name %> Club">
                                                        <img src="<%= club2.image %>" alt="<%= club2.name %>" draggable="false">
                                                    </a>
                                                </div>
                                                <div class="club-name">
                                                    <h4>
                                                        <%= club2.name %> <span title="<%= club2.name %> Fans">(<%= club2.fans.length %>)</span>
                                                    </h4>
                                                </div>
                                                <div class="club-country">
                                                    <span><%= club2.country %></span>
                                                </div>
                                                <div class="add-to-fav">
                                                    <input type="hidden" name="id" id="id" value="<%= club2._id %>">
                                                    <input type="hidden" name="clubName" id="club_name" value="<%= club2.name %>">
                                                    <button title="Add to Favorite"><i class="fa fa-star"></i></button>
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                <% }) %>
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./includes/end.ejs') %>