<%- include('../includes/head.ejs') %>

<div class="group">
    <div class="">
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-4@m">
                <input type="hidden" id="name-user" value="<%= user.username %>">
                <input type="hidden" id="name-image" value="<%= user.userImage %>">
                <div class="myprofile uk-margin-small-bottom uk-box-shadow-medium uk-text-center">
                    <div class="profile-img">
                        <img class="uk-border-circle" src="https://via.placeholder.com/100" alt="" draggable="false">
                    </div>
                    <div class="profile-names">
                        <div class="username">
                            <h4><%= user.username %></h4>
                        </div>
                    </div>
                    <div class="status">
                        <div class="uk-text-center"><span class="online-dot"></span> Online</div>
                    </div>
                    <hr class="uk-divider-small">
                    <div class="profile-footer">
                        <a href="#" class="uk-button uk-button-text"><i class="fa fa-user"></i> My Profile</a>
                    </div>
                </div>
                <div class="online-friends uk-margin-small-bottom uk-box-shadow-medium">
                    <div class="heading">
                        <h6 class="uk-text-uppercase"><span class="online-dot"></span> Online Friends <span id="numOfFriends"></span></h6>
                        <hr class="uk-divider-small">
                        <% if (data.friendList.length > 0) { %>
                            <% data.friendList.forEach(val => { %>
                                <div class="friend" hidden>@<%= val.friendName %></div>
                            <% }) %>
                        <% } %>
                        <div class="onlineFriends"></div>
                    </div>
                </div>
            </div>
            <div class="uk-width-3-4@m">
                <div class="chating-box uk-box-shadow-medium">
                    <div class="chating-box-top">
                        <div class="uk-child-width-1-2" uk-grid>
                            <div class="uk-text-left">
                                <h6 class="uk-text-uppercase"><%= groupName %> Club</h6>
                            </div>
                            <div class="uk-text-right">
                                <div class="club-fans">
                                    <div class="online-club">
                                        <h6 class="uk-text-uppercase" uk-toggle="target: #offcanvas-flip">Club Fans <i class="fa fa-angle-right"></i></h6>
        
                                        <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
                                            <div class="uk-offcanvas-bar">
                                                <button class="uk-offcanvas-close" type="button" uk-close></button>
        
                                                <div class="heading uk-text-left">
                                                    <h6 class="uk-text-uppercase"><i class="fa fa-users"></i>Online Club Fans <span id="numValue"></span></h6>
                                                </div>
                                                <hr class="uk-divider-small uk-text-left">
                                                <div id="view-user" class="uk-flex-top" uk-modal>
                                                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-text-center">
                                                        <button class="uk-modal-close-outside" type="button" uk-close></button>
                                                        <h3 id="name"></h3>
                                                        <form action="" method="GET" id="add-friend">
                                                            <input type="hidden" name="recieverName" id="recieverName" value="">
                                                            <input type="hidden" name="senderName" id="senderName" value="<%= user.username %>">
                                                            <button type="submit" id="friend-add" class="uk-text-uppercase"><i class="fa fa-user-plus"></i> Add Friend</button>
                                                            <a id="nameLink" class="uk-text-uppercase">View Profile</a>

                                                            <div id="myTest"></div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div id="users" class="uk-text-left"></div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="uk-divider-small">
                    <div class="chat-area">
                        <ul id="messages" class="uk-list"></ul>
                        <script id="message-template" type="text/template">
                            <li class="uk-flex">
                                <span class="chat-img uk-margin-small-right">
                                    <img src="http://placehold.it/40" class="uk-border-circle" alt="">
                                </span>
                                <div class="chat-body">
                                    <span class="chat-name">{{sender}}</span>
                                    <div class="message-content">{{text}}</div>
                                </div>
                            </li>
                        </script>
                    </div>
                    <div class="message-box">
                        <form id="message-form" method="POST">
                            <input type="hidden" id="groupName" value="<%= groupName %>">
                            <input type="hidden" name="groupName" id="sender" value="<%= user.username %>">

                            <input 
                                class="uk-input" 
                                type="text" 
                                name="message" 
                                id="msg" 
                                placeholder="Type a message"
                            >
                            <button id="send-message" title="Send"><i class="fa fa-telegram" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/end.ejs') %>
